# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings

# Intellij
.idea
*.iml
*.iws

# logs
/stacktrace.log

# plugin release file
/*.zip
/*.pom
plugin.xml

# "temporary" build files
/target

# gradle
.gradle
/build

# other

.DS_Store
Thumbs.db


# AWS credentials file
credentials.properties
