# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings

# logs
/stacktrace.log

# plugin release file
/*.zip
plugin.xml

# "temporary" build files
/target

# other
*.iws

.DS_Store