# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings

.gradle
.idea

# logs
/stacktrace.log

# plugin release file
/*.zip
plugin.xml

# "temporary" build files
/target

# other
*.iws

.DS_Store
credentials.properties